<h1><%= @data_source.name %></h1>
<%= link_to @data_source.url, @data_source.url %>

<!-- here's where we put the interesting bits! %>

<div class="actions">
  <%= link_to 'Back to list of data sources', data_sources_path %>
</div>
